
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/MasterPage/ShopPage.cshtml";
}

<div class="userBox">
    <div class="right_content right_content_help" >
        <div class="aboutus_box">
            <div class="aboutus_title">
                <h1>联系我们</h1>
            </div>
            <!--内容-->
            <div id="text">
                <p>
                    <strong>商品预定：</strong>15115807228 (电话同微信)
                    <br />
                    <br />
                    <strong>商品售后：</strong>15115807228 (电话同微信)
                    <br />
                    <br />
                    <strong>市场合作：</strong>15115807228 (电话同微信)
                    <br />
                    <br />
                    <strong>地址：</strong> 啊啊啊啊啊啊
                    <br />
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>
